.settings {

    padding: 30px 90px;
    height: 500px;


     display: flex;
        flex-direction: column;

    &__first {

        &__heading {
            display: flex;
            justify-content: center;
            gap: 15px;
            margin-bottom: 50px;

            &--name {
                font-size: 28px;
            }

             &--svg {
                height: 30px;
                width: 30px;
                margin-top: 10px;
        }

        }

        &__notifications {
            display: flex;
            margin-bottom: 50px;

            &--text {
                color: rgb(70, 70, 70);
            }
        }
    
    }

    &__line {
         border-top: 1px solid rgba(128, 128, 128, 0.417); 
    }

    &__second {
        margin-top: 50px;

        &--text {
            color: rgb(70, 70, 70);
            width: 70%;
            margin-bottom: 70px;
            order: 1;
        }

        &--distance {
            margin-bottom: 30px;
        }
        
    }

    &__button {
       position: absolute;
       right: 240px;
       top: 470px
    }
}

.MuiSwitch-root {
  order: 2; 
}

// .orange-thumb {
//   background-color: rgb(255, 89, 0) !important; 
// }

.custom-thumb {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: orange;
  border: 2px solid black;
  margin-right: 10px; /* Dodajemo razmak između svakog kruga */
}

.custom-thumb::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid orange;
  animation: pulse 2s infinite alternate;
}

@keyframes pulse {
  0% {
    width: 44px;
    height: 44px;
    opacity: 1;
  }
  100% {
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}

