.header-box {
    display: flex;
    margin: 50px;
}

.user-box3 {
    display: flex;
    gap: 15px;
    padding-left: 15px;
    

    &__profile-pic {
        height: 60px;
        width: 60px;
        border-radius: 50%; 
    }

    &__user {
        text-align: left;
        font-weight: 700;
        font-size: 20px;

        &__name {
            font-weight: 400;
            font-size: 19px;
        }

        &__sightings {
            font-weight: 200;
            font-size: 13px;
        }
    }

} 